@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: "Ubuntu", sans-serif;
  background-color: #ebebeb;
}

.whiteColor {
  color: white;
}

.curve {
  border-radius: 0 0 100% 100% / 0 0 70% 70%;
}
